version: '3'

services:
  teleferic:
    build: 'Teleferic'
    image: 'meteoro.dxmarkets.com:5000/himalaya_teleferic:latest'
    volumes:
      - db:/code/db
      - messages_content:/code/API/Mock/messages
    networks:
      - teleferic
    deploy:
      replicas: 10
      resources:
        limits:
          cpus: '0.2'
          memory: 128M
      restart_policy:
        condition: on-failure

  gateway:
    build: '.'
    image: 'meteoro.dxmarkets.com:5000/himalaya_gateway:latest'
    ports:
      - 80:80
      - 443:443
    networks:
      - teleferic
    links:
      - teleferic
    volumes:
      - /etc/ssl/wildcard:/etc/ssl/wildcard
    deploy:
      replicas: 5
      resources:
        limits:
          cpus: '0.1'
          memory: 16M
      restart_policy:
        condition: on-failure

networks:
  teleferic:
volumes:
  db:
  messages_content: